<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Hello ☀</title>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
   
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,700i,900i&display=swap" rel="stylesheet"> 
</head>

<body>

		    
    <div style="text-align: center;">
    	<div class="display-1" style="font-weight: bold; font-style: italic; color: white; -webkit-text-stroke: 4px #7A6660;">Hi, How are you today?</div>
    	<div class=transbox>
    		<h1 style= "font-weight: light; font-style: italic">Share your <strong>stories</strong>, tell your <strong>feelings</strong>.</h1>


    	</div>
    </div>

    <div class="container">

		<div class="row">

    		<div class="col-lg-4 ">

			    <div  id="input-list" >
				    
				        <form id="form" method="POST" action="{% url 'landingpage:add_status' %}">
				            
				            {% csrf_token %}
				            {{ status_form.status }}
				            <input id="submit" type="submit" class="btn btn-lg btn-block btn-dark" value="Submit">
				            <br>
				        </form>
				    
				</div>
			</div>

			<div class="col-lg-8 " >

				<div class="myBox">
			
					<table class="table">
					    <tbody >

					    	{% if status %}
					        
						        {% for data in status %}


						  
						        <tr class="success">
						        	<td> {{data.status}} </td>
						            <td style="text-align: right;"> {{data.created_at}} </td>
						            
						        </tr>


						        {% endfor %}

					        {% else %}
					            <div class="alert alert-danger text-center">
					                <strong>There's no status yet.</strong>
					            </div>
					        {% endif %}
					    </tbody>
					</table>
				</div>

			</div>
		</div>
			
		
	</div>

	

</body>

