body{
	/*background-image: url(https://live.staticflickr.com/65535/48978999151_8e0379c387_k.jpg);*/
	height:100%;
	width:100%;
	background-image:url(https://live.staticflickr.com/65535/48978999151_8e0379c387_k.jpg);/*your background image*/  
	background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
	background-size:cover;/*this sets the image to fullscreen covering the whole screen*/  
	/*css hack for ie*/     
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
	-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";

	font-family: 'Roboto', sans-serif;
}


div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px ;
  border-radius: 20px;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}


#input-list form{
  width: 300px;
  margin: 10px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  border: 0 none;
  border-radius: 20px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 30px 30px;
  box-sizing: border-box;
  background-color: white;
  opacity: 0.8;
 
}

/* Box styles */
.myBox {
  background-color: white;
  position: relative;
  opacity: 0.8;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 10px;
  font: 24px/36px;
  height: 400px;
  overflow: scroll;

}

  


